@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

/*
body {
    background-color: var(--light);
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: var(--primary);
    color: var(--light);

    display: flex;
    align-items: center;
}

.nav-content {
    padding-left: 30px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
} */


.logo {
    width: 25px;
    margin: 0 15px 0 0;
}

.title {
    font-size: 2em;
}

.links {
    display: flex;
    justify-content: flex-start;
}

.links li{
    /* background-color: ; */
    display: block;
    padding-left: 30px;
    list-style: none;
    font-size: 1.25em;

}

.links a {
    text-decoration: none;
    color: var(--light);
}

.search-icon {
    /* margin-left: 60px; */
    width: 30px;
}

.search-btn {
    background-color: var(--primary);
    width: 30px;
    margin: 0;
    padding: 0;
    border: none;
}

.search {
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    height: 25px;
    width: 250px;
    margin-left: 10px;
    color: var(--primary);
    padding-left: 10px;
}

.page {
    background-color: var(--light);
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    /* height: 800px; */
    width: 1000px;
    margin: 0 auto;
    color: var(--primary);
}

.heading {
    margin: 10px 0;
}
.reviews {
    /* justify-self: right; */
    margin: 10px 0 0 80px;
}
.row {
    display: flex;
    flex-direction: row;
}

.portrait {
    display: block;
    width: 300px;
}

.accent-1 {
    width: 700px;
    height: 100%;
    /* background-color: var(--accent); */
    /* border: 6px solid var(--primary); */
    /* border-radius: 20px; */
    /* margin-left: ; */
    padding: 10px 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.book {
    width: 100px;
    padding: 20px 0;
}

.review {
    width: 500px;
    /* font-weight: bold; */
    font-size: 1em;
    padding: 20px
}

.accent-2 {
    width: 100%;
    height: 200px;
    background-color: var(--primary);
    color: var(--light);
    clear: both;
    margin: 20px 0 ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    font-size: 3em;
    display: block;
    margin-bottom: 40px;
}

.topic {
    font-size: 2.5em;
    display: block;
}

.arrow {
    margin: 0 15px;
    color: var(--light-2);
}

.footer {
    width: 100%;
    height: 100px;
    background-color: var(--secondary);
    text-align: center;
    font-size: larger;
    padding: 10px 0;
    color: var(--light);
    /* background-color: var(--dark); */
}